$fontSize-introTitle--large: rem-calc(72);
$fontSize-introTitle--medium: rem-calc(52);
$fontSize-introTitle--small: rem-calc(42);
$fontSize-introTitle--large-v2: rem-calc(56);
$fontSize-introTitle--medium-v2: rem-calc(44);
$fontSize-introTitle--small-v2: rem-calc(32);
$fontSize-h1--large: rem-calc(50);
$fontSize-h1--medium: rem-calc(40);
$fontSize-h1--small: rem-calc(30);
$fontSize-teamTitle--large: rem-calc(22);
$fontSize-teamTitle--medium: rem-calc(20);
$fontSize-smallJoinUs--large: rem-calc(18);
$fontSize-termsTitle--large: rem-calc(18);
$fontSize-termsTitle--medium: rem-calc(16);
$fontSize-notFound--large: rem-calc(60);
$fontSize-notFound--medium: rem-calc(40);
$fontSize-notFound--small: rem-calc(30);
$fontSize-norFoundContent--large: rem-calc(30);
$fontSize-norFoundContent--medium: rem-calc(24);
$fontSize-norFoundContent--small: rem-calc(18);

$smallHeight: 480px;

$lineHeight-btn--large: rem-calc(48);
$lineHeight-termsCount: rem-calc(26);
$lineHeight-input: rem-calc(16);
$lineHeight-buttonSubmit: rem-calc(40);
$lineHeight-buttonArrow: rem-calc(34);
$lineHeight-pagination: rem-calc(36);
