//Colours should always only appear in this colours.scss
$black: rgb(0, 0, 0);
$black--20op: rgba(0, 0, 0, .2);
$black--light: rgb(17, 18, 19);
$black--light80op: rgba(17, 18, 19, .8);
$black--light30op: rgba(17, 18, 19, .3);
$black--lighter40op: rgba(56, 72, 88, .4);
$black--lighter20op: rgba(56, 72, 88, .2);
$black--lighter: rgb(64, 64, 64);
$blue: rgb(9, 172, 248);
$blue--light: rgb(70, 193, 251);
$blue--dark: rgb(32, 150, 243);
$blue--darkest: rgb(56, 72, 88);
$blue--20op: rgba(9, 172, 248, .2);
$blue--6op: rgba(9, 172, 248, .06);
$blueSea: rgb(141, 167, 181);
$blueSea--70op: rgba(141, 167, 181, .7);
$blueSea--20op: rgba(141, 167, 181, .2);
$leaf: rgb(150, 228, 218);
$leaf--6op: rgba(150, 228, 218, .06);
$gray: rgb(125, 137, 149);
$gray--darker: rgb(117, 117, 117);
$gray--light: rgb(227, 229, 232);
$gray--lighter: rgb(185, 201, 209);
$gray--lightest: rgb(250, 216, 216);
$gray--80op: rgba(125, 137, 149, .8);
$gray--60op: rgba(125, 137, 149, .6);
$gray--30op: rgba(125, 137, 149, .3);
$mystic: rgb(241, 245, 246);
$mystic--90op: rgba(241, 245, 246, 0.9);
$mystic--0op: rgba(241, 245, 246, 0);
$mystic--light: rgb(242, 251, 255);
$mystic--light60op: rgba(242, 251, 255, .6);
$mystic--lighter: rgb(250, 253, 255);
$stone: rgb(26, 44, 63);
$stone--70op: rgba(26, 44, 63, .7);
$stone--40op: rgba(26, 44, 63, .4);
$stone--08op: rgba(26, 44, 63, .08);
$stone--0op: rgba(26, 44, 63, 0);
$stone--lighter: rgb(34, 58, 80);
$orange: rgb(255, 153, 0);
$red: rgb(237, 85, 100);
$white: rgb(255, 255, 255);
$white--95op: rgba(255, 255, 255, .95);
$white--80op: rgba(255, 255, 255, .8);
$white--60op: rgba(255, 255, 255, .6);
$white--dark: rgb(148, 228, 218);
$white--darker: rgb(80, 210, 195);
$white--darkMore: rgb(253, 253, 253);
$white--mud: rgb(200, 205, 209);
$white--mudLight: rgb(155, 180, 192);
$white--mud60op: rgba(200, 205, 209, .6);
