$fontSize-introTitle--large: rem-calc(72);
$fontSize-introTitle--medium: rem-calc(52);
$fontSize-introTitle--small: rem-calc(42);
$fontSize-h1--large: rem-calc(50);
$fontSize-h1--medium: rem-calc(40);
$fontSize-h1--small: rem-calc(30);
$fontSize-teamTitle--large: rem-calc(22);
$fontSize-teamTitle--medium: rem-calc(20);
$fontSize-smallJoinUs--large: rem-calc(18);

$smallHeight: 480px;

$lineHeight-btn--large: rem-calc(48);
