$fontSize-introTitle--large: rem-calc(72);
$fontSize-introTitle--medium: rem-calc(52);
$fontSize-introTitle--small: rem-calc(42);
$fontSize-h1--large: rem-calc(50);
$fontSize-h1--medium: rem-calc(40);
$fontSize-h1--small: rem-calc(30);
$fontSize-termsTitle--large: rem-calc(18);

$smallHeight: 480px;

$lineHeight-btn--large: rem-calc(48);
$lineHeight-termsCount: rem-calc(26);
