$fontSize-introTitle--large: rem-calc(72);
$fontSize-introTitle--medium: rem-calc(52);
$fontSize-introTitle--small: rem-calc(42);
$fontSize-h1--large: rem-calc(44);
$fontSize-h1--medium: rem-calc(36);
$fontSize-h1--small: rem-calc(27);
$fontSize-h2--large: rem-calc(30);
$fontSize-h2--medium: rem-calc(28);
$fontSize-h2--small: rem-calc(24);
$fontSize-termsTitle--large: rem-calc(18);
$fontSize-termsTitle--medium: rem-calc(16);

$smallHeight: 480px;

$lineHeight-btn--large: rem-calc(48);
$lineHeight-termsCount: rem-calc(26);
