.clientList-item {
	text-align: center;
	@include breakpoint(medium) {
		text-align: left;
	}
	> .vc_column-inner > .wpb_wrapper {
		max-width: 360px;
		padding: 30px 30px 35px;
		margin: 0 auto;
		@include breakpoint(medium) {
			max-width: 330px;
			padding-right: 0;
			padding-left: 0;
		}
	}
	.wpb_single_image {
		@include breakpoint(small only) {
			display: inline-block;
			max-width: 60px;
			margin-bottom: 0;
			vertical-align: middle;
		}
	}
	h3 {
		@include breakpoint(small only) {
			display: inline-block;
			max-width: 200px;
			margin-bottom: 0;
			margin-left: 15px;
			vertical-align: middle;
		}
	}
}
