.mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 200;
    @media #{$medium-up} {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.mainHeader .container {
    position: relative;
}
.mainHeader-logo {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 130px;
    max-height: 60px;
    line-height: 0;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity .3s;
    &:hover {
        opacity: 0.8;
    }
    @media #{$large-up} {
        width: 170px;
    }
}

//if adminbar shown
.admin-bar .mainHeader {
    top: 46px;
}
