.introSection {
	padding-top: 350px;
	padding-bottom: 50px;
}
.introSection-title {
	max-width: 580px;
	margin-bottom: 35px;
	font-size: $fontSize-introTitle--large;
	line-height: $lineHeight-stightest;
	color: $black--light;
}
