.faqSection {
	overflow-x: hidden;
	margin-left: -30px;
	margin-right: -30px;
	@include breakpoint(medium) {
		margin-left: 0;
		margin-right: 0;
	}
	h2 {
		margin-bottom: 0;
		padding: 5px 30px;
		font-family: $font-light;
		border-bottom: 3px solid $white--mud60op;
		@include breakpoint(medium) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
