.postContent {
	@include breakpoint(large) {
		float: left;
		width: 72.33%;
		padding-right: 10px;
	}
	@include breakpoint(xlarge) {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.postWidgets {
	display: none;
	@include breakpoint(large) {
		display: block;
		float: left;
		width: 27.67%;
		padding-left: 10px;
	}
	@include breakpoint(xlarge) {
		padding-left: 30px;
		padding-right: 10px;
	}
}
.postContent-link {
	padding-bottom: 20px;
	margin-bottom: 30px;
	text-align: center;
	@include breakpoint(medium) {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
.postContent-postBy,
.postListing-content-author {
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: $fontSize-small;
	font-family: $font-light;
	text-align: center;
	color: $blueSea;
	@include breakpoint(medium) {
		padding-top: 5px;
		text-align: left;
	}
	a {
		color: $blue;
	}
}
.postContent-introText {
	display: none;
	margin-bottom: 40px;
	font-size: $fontSize-base;
	line-height: $lineHeight-tight;
	font-family: $font-base;
	color: $stone;
	@include breakpoint(medium) {
		display: block;
	}
}
.postContent-thumbnail {
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: 30px;
	line-height: 0;
	@include breakpoint(medium) {
		margin-left: 0;
		margin-right: 0;
	}
	img {
		width: 100%;
	}
}
.postContent-text {
	margin-bottom: 45px;
	font-size: $fontSize-small;
	line-height: $lineHeight-loose;
	color: $stone--70op;
	p {
		margin-bottom: 25px;
	}
}
.postContent-listingTop {
	margin-bottom: 10px;
}
.postContent-listingTop-title {
	text-align: center;
	@include breakpoint(medium) {
		float: left;
		max-width: 50%;
		text-align: left;
	}
	h1 {
		font-family: $font-medium;
	}
}
.postListing {
	text-align: center;
	@include breakpoint(medium) {
		text-align: left;
	}
	article {
		margin-bottom: 50px;
		@include breakpoint(medium) {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid $black--lighter20op;
		}
	}
}
.postListing-title {
	margin-bottom: 0;
	@include breakpoint(medium) {
		max-width: 500px;
	}
	a {
		transition: color .3s;
		&:hover {
			color: $blue;
			text-decoration: none;
		}
	}
}
.postListing-content-excerpt {
	margin-bottom: 25px;
	font-size: $fontSize-small;
	line-height: $lineHeight-loose;
	color: $stone--70op;
	p {
		margin-bottom: 25px;
	}
}
.postListing-thumbnail {
	margin-left: -30px;
	margin-right: -30px;
	margin-bottom: 20px;
	@include breakpoint(medium) {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 30px;
	}
}
