*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-width: 320px;
    font-family: $font-base;
    font-size: $fontSize-base;
    font-weight: $fontWeight-light;
    line-height: $lineHeight-base;
    color: $black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $mystic;
}
a {
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 1.421rem;
    &:last-child {
        margin-bottom: 0;
    }
}
h1 {
    margin: 0 0 15px;
    font-family: $font-base;
    font-size: $fontSize-large;
    font-weight: $fontWeight-extraLight;
    line-height: $lineHeight-stightest;
    color: $black--light;
    @include breakpoint(medium) {
        margin-bottom: 20px;
        font-size: $fontSize-larger;
    }
    @include breakpoint(large) {
        margin-bottom: 30px;
        font-size: $fontSize-largest;
    }
}
h2 {
    margin: 15px 0;
    font-family: $font-base;
    font-size: $fontSize-large;
    font-weight: $fontWeight-normal;
    line-height: $lineHeight-tightest;
    color: $black--light;
    @include breakpoint(medium) {
        margin-bottom: 15px;
        font-size: $fontSize-larger;
    }
}
h3 {
    margin: 0 0 .75em;
    font-family: $font-medium;
    font-size: $fontSize-large;
    font-weight: $fontWeight-normal;
    line-height: $lineHeight-tighter;
    color: $black--light;
}
blockquote {
    margin: 1em 0;
    padding-left: 20px;
    font-size: $fontSize-larger;
    line-height: $lineHeight-tight;
    border: 1px solid $black;
    border-left-width: 26px;
    &:last-child {
        margin-bottom: 0;
    }
}
ul,
ol {
    margin: 0 0 1em 3em;
    padding: 0;
}
.caption,
.wp-caption .wp-caption-text,
.gallery-caption {
    font-style: italic;
    font-size: $fontSize-small;
    color: $black;
}
#svgPlaceholder {
    display: none;
}
.svgIcon {
    fill: currentColor;
}
.container {
    max-width: 1210px;
    margin: 0 auto;
    @include breakpoint(medium) {
        padding: 0 15px;
    }
}
.parallaxHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
}
.parallaxHolder-item {
    width: 100%;
    &::before {
        content: "";
        display: block;
        height: 500px;
        width: 100%;
        @include breakpoint(medium) {
            height: 0;
            width: 100%;
            padding-bottom: 50%;
        }
    }
}
.parallax-mirror {
    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 20%;
        background: $mystic;
        background: linear-gradient(to bottom, $mystic--0op 0%, $mystic 100%);
        z-index: 200;
    }
}
#swipebox-close {
    width: 50px;
    height: 50px;
    cursor: pointer;
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        width: 30px;
        height: 4px;
        margin-left: -15px;
        margin-top: -2px;
        background: $white;
        transition: background .3s;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(-45deg);
    }
    &:hover,
    &:active {
        &::before,
        &::after {
            background: $blue;
        }
    }
}
.playBtn {
    display: inline-block;
    padding: 5px;
    border: 1px solid $white;
    border-radius: 48px;
    font-size: $fontSize-small;
    background: $white--80op;
    color: $black--light;
    box-shadow: 0 5px 20px 0 $black--20op;
    transition: all .3s;
    &:hover {
        background: $blue;
        border-color: $blue;
        color: $white;
        text-decoration: none;
        .playBtn-icon {
            background: $white;
            &::before {
                border-color: transparent transparent transparent $blue;
            }
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    strong {
        font-size: $fontSize-base;
        font-family: $font-medium;
    }
}
.playBtn-icon {
    position: relative;
    width: 36px;
    height: 36px;
    background: $blue;
    border-radius: 100%;
    transition: all .3s;
    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        margin-left: 2px;
        border-style: solid;
        border-width: 5px 0 5px 8px;
        border-color: transparent transparent transparent $white;
        transform: translateX(-50%) translateY(-50%);
        transition: all .3s;
    }
}
.plainSection {
    > .vc_column-inner > .wpb_wrapper {
        margin-bottom: 15px;
        font-family: $font-light;
        color: $black--light80op;
        background: $white;
        box-shadow: 0 0 20px 0 $black--20op;
        @include breakpoint(medium) {
            border-radius: 3px;
            box-shadow: 0 5px 20px 0 $black--20op;
        }
    }
    .vc_row {
        margin: 0;
    }
}
.imageBullet-item {
    margin-top: 35px;
    p {
        margin-bottom: 25px;
        font-size: $fontSize-small;
        line-height: $lineHeight-tight;
        @include breakpoint(medium) {
            position: relative;
            padding-left: 60px;
            margin-bottom: 35px;
        }
        img {
            display: block;
            max-width: 45px;
            margin: 0 auto;
            padding-bottom: 15px;
            @include breakpoint(medium) {
                position: absolute;
                top: 50%;
                left: 0;
                max-width: 45px;
                margin: 0;
                padding-bottom: 0;
                transform: translateY(-50%);
            }
        }
    }
}
.defaultSection {
    .defaultSection-inner,
    > .vc_column-inner > .wpb_wrapper {
        padding: 50px 30px 10px 30px;
        margin-bottom: 15px;
        font-family: $font-light;
        font-size: $fontSize-small;
        color: $gray--80op;
        background: $white;
        box-shadow: 0 0 20px 0 $black--20op;
        @include breakpoint(medium) {
            border-radius: 3px;
            box-shadow: 0 5px 20px 0 $black--20op;
        }
        @include breakpoint(large) {
            font-size: $fontSize-base;
        }
    }
}
.defaultSection-inner section {
    max-width: 400px;
    margin: 0 auto;
}
.joinUsWidget {
    display: inline-block;
    position: relative;
}

.joinUsSection {
    text-align: center;
    p {
        margin-bottom: 25px;
    }
    h1 {
        margin-bottom: 15px;
    }
}
.infoIcon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../images/info.png") 50% 50% no-repeat;
    background-size: 100%;
    transition: all .3s;
    opacity: .3;
    cursor: pointer;
}
.svgTwitter {
    width: 14px;
    height: 10px;
}
.svgLinkedin {
    width: 14px;
    height: 12px;
}
