*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    min-width: 320px;
    font-family: $font-base;
    font-size: $fontSize-base;
    font-weight: $fontWeight-light;
    line-height: $lineHeight-base;
    color: $black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin: 0 0 1.421rem;
    &:last-child {
        margin-bottom: 0;
    }
}
h1 {
    margin: 0 0 27px;
    font-size: $fontSize-largest;
    font-weight: $fontWeight-extraLight;
    line-height: $lineHeight-stightest;
}
h2 {
    margin: 1.25em 0 .75em 0;
    font-size: $fontSize-larger;
    font-weight: $fontWeight-bold;
    line-height: $lineHeight-tightest;
}
h3 {
    margin: 0 0 .75em;
    font-size: $fontSize-large;
    font-weight: $fontWeight-bold;
    line-height: $lineHeight-tighter;
}
blockquote {
    margin: 1em 0;
    padding-left: 20px;
    font-size: $fontSize-larger;
    line-height: $lineHeight-tight;
    border: 1px solid $black;
    border-left-width: 26px;
    &:last-child {
        margin-bottom: 0;
    }
}
ul,
ol {
    margin: 0 0 1em 3em;
    padding: 0;
}
.caption,
.wp-caption .wp-caption-text,
.gallery-caption {
    font-style: italic;
    font-size: $fontSize-small;
    color: $black;
}
#svgPlaceholder {
    display: none;
}
.svgIcon {
    fill: currentColor;
}
.container {
    max-width: 1210px;
    margin: 0 auto;
    @include breakpoint(medium) {
        padding: 0 15px;
    }
}
.main {
    padding-top: 110px;
}
.admin-bar .mobileClose {
    top: 56px;
}
.defaultSection {
    .defaultSection-inner,
    > .vc_column-inner > .wpb_wrapper {
        padding: 50px 30px 10px 30px;
        margin-bottom: 15px;
        font-family: $font-light;
        font-size: $fontSize-small;
        color: $gray--80op;
        background: $white;
        box-shadow: 0 0 20px 0 $black--20op;
        @include breakpoint(medium) {
            border-radius: 3px;
            box-shadow: 0 5px 20px 0 $black--20op;
        }
        @include breakpoint(large) {
            font-size: $fontSize-base;
        }
    }
}
.defaultSection-inner section {
    max-width: 400px;
    margin: 0 auto;
}
.joinUsSection {
    text-align: center;
    p {
        margin-bottom: 25px;
    }
    h1 {
        margin-bottom: 15px;
    }
}
.infoIcon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url("../images/info.png") 50% 50% no-repeat;
    background-size: 100%;
    transition: all .3s;
    opacity: .3;
    cursor: pointer;
}
.linkTooltip {
    display: none;
    position: relative;
    margin-left: 15px;
    @include breakpoint(medium) {
        display: inline-block;
    }
    &:hover,
    &:active,
    &:focus {
        .infoIcon {
            opacity: 1;
        }
        .linkTooltip-item {
            display: block;
        }
    }
}
.linkTooltip-item {
    display: none;
    position: absolute;
    top: 50%;
    right: -30px;
    width: 290px;
    padding: 25px 32px;
    margin: 0 auto;
    text-align: left;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 6px 13px 0 rgba(140,160,179,.4);
    transform: translateX(100%) translateY(-50%);
    &::before {
        position: absolute;
        top: 50%;
        left: -10px;
        width: 10px;
        height: 20px;
        margin-top: -10px;
        content: "";
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent $white transparent transparent;
    }
}
.linkTooltip-item p {
    margin-top: 0;
    margin-bottom: 0;
}
.linkTooltip-item-title {
    text-transform: uppercase;
    color: $blue;
    margin-top: 0;
    margin-bottom: 10px;
}
.svgTwitter {
    width: 14px;
    height: 10px;
}
.svgLinkedin {
    width: 14px;
    height: 12px;
}
