.customDrop {
	margin-bottom: 0;
	border-bottom: 1px solid $white--mud60op;
	box-shadow: 0 0 20px 0 transparent;
	transition: all .3s;
	&.vc_toggle_size_md.vc_toggle_default .vc_toggle_content,
	&.vc_toggle_size_md.vc_toggle_default .vc_toggle_title {
		padding-left: 15px;
		@include breakpoint(medium) {
			padding-left: 12px;
		}
	}
	div.vc_toggle_title {
		padding: 25px 30px;
		font-size: $fontSize-base;
		font-family: $font-light;
		color: $stone;
		transition: all .3s;
		&:hover {
			font-family: $font-bold;
			background: $mystic--light60op;
		}
		@include breakpoint(medium) {
			padding-left: 12px;
			padding-right: 12px;
		}
		p {
			margin-bottom: 0;
			padding-right: 30px;
			@include breakpoint(small only) {
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 1000px;
				white-space: nowrap;
			}
		}
		i.vc_toggle_icon {
			display: none;
		}
		&::before {
			position: absolute;
			top: 50%;
			right: 12px;
			content: "";
			width: 16px;
			height: 16px;
			background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik03LjQxIDcuODRMMTIgMTIuNDJsNC41OS00LjU4TDE4IDkuMjVsLTYgNi02LTZ6Ii8+CiAgICA8cGF0aCBkPSJNMC0uNzVoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz4KPC9zdmc+) 50% 50% no-repeat;
			transform: translateY(-50%);
			transition: all .3s;
		}
	}
	div.vc_toggle_content {
		font-size: $fontSize-small;
		line-height: $lineHeight-base;
		font-family: $font-light;
		color: $stone--70op;
	}
	&.vc_toggle_active {
		margin-left: 15px;
		margin-right: 15px;
		border: 1px solid $white--mud60op;
		border-radius: 3px;
		background-color: $white;
		box-shadow: 0 0 20px 0 $black--20op;
		@include breakpoint(medium) {
			margin-left: -15px;
			margin-right: -15px;
			padding-left: 15px;
			padding-right: 15px;
		}
		&.vc_toggle_size_md.vc_toggle_default .vc_toggle_content,
		&.vc_toggle_size_md.vc_toggle_default .vc_toggle_title {
			padding-left: 15px;
			@include breakpoint(medium) {
				padding-left: 27px;
			}
		}
		div.vc_toggle_title {
			font-family: $font-bold;
			padding-left: 15px;
			padding-right: 15px;
			@include breakpoint(medium) {
				margin-left: -15px;
				margin-right: -15px;
				padding-left: 27px;
				padding-right: 27px;
			}
			&::before {
				right: 27px;
				background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0xOSA2LjQxTDE3LjU5IDUgMTIgMTAuNTkgNi40MSA1IDUgNi40MSAxMC41OSAxMiA1IDE3LjU5IDYuNDEgMTkgMTIgMTMuNDEgMTcuNTkgMTkgMTkgMTcuNTkgMTMuNDEgMTJ6Ii8+CiAgICA8cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+Cjwvc3ZnPg==) 50% 50% no-repeat;
			}
			p {
				@include breakpoint(small only) {
					white-space: normal;
					overflow: visible;
				}
			}
		}
		div.vc_toggle_content {
			padding: 0 30px;
			@include breakpoint(medium) {
				margin-left: -15px;
				margin-right: -15px;
				padding-left: 27px;
				padding-right: 27px;
			}
		}
	}
}
