.decoLines {
	> .vc_column-inner > .wpb_wrapper {
		position: relative;
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 6px;
			content: "";
			@include breakpoint(medium) {
				border-radius: 3px 3px 0 0;
			}
		}
	}
}
.decoLines--fourLined {
	> .vc_column-inner > .wpb_wrapper {
		&::after {
			background: $blue;
			background: linear-gradient(to right, $blue 0%, $blue 25%, $white--darker 25%, $white--darker 50%, $orange 50%, $orange 75%, $red 75%, $red 100%);
		}
	}
}
.decoLines--twoLined {
	> .vc_column-inner > .wpb_wrapper {
		&::after {
			background: rgba(9, 172, 248, 1);
			background: linear-gradient(to right, $blue 0%, $blue 50%, $white--dark 50%, $white--dark 100%);
		}
	}
}
.decoLines--halfVertical {
	> .vc_column_container:first-child {
		position: relative;
		&::before {
			@include breakpoint(medium) {
				position: absolute;
				top: 0;
				right: 0;
				content: "";
				margin-right: -3px;
				width: 6px;
				height: 100%;
				background: $mystic;
				z-index: 100;
			}
		}
	}
}
