.customForm {
    position: relative;
    width: 100%;
    padding: 30px 30px 10px 30px;
    max-width: 480px;
    margin: 0 auto 30px;
    font-family: $font-light;
    font-size: $fontSize-small;
    color: $gray--80op;
    background: $white;
    box-shadow: 0 0 20px 0 $black--20op;
    @include breakpoint(medium) {
        padding-top: 50px;
        border-radius: 3px;
        box-shadow: 0 5px 20px 0 $black--20op;
    }
    @include breakpoint(large) {
        font-size: $fontSize-base;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: $blue;
        background: linear-gradient(to right, $blue 0%, $blue 25%, $white--darker 25%, $white--darker 50%, $orange 50%, $orange 75%, $red 75%, $red 100%);
        @include breakpoint(medium) {
            border-radius: 3px 3px 0 0;
        }
    }
    label {
        color: $gray--80op;
        transition: all .3s;
        cursor: text;
        -moz-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }
    input:not([type="button"]) {
        margin-bottom: 10px;
        padding: 15px 10px;
    }
    input[type="button"] {
        width: 100%;
        margin: 30px auto;
    }
    &-inputBox {
        label {
            display: inline-block;
            transform: translate(10px, 35px) scale(1);
            &.is-active {
                transform: translate(0, 8px) scale(0.8);
            }
            &.is-focus {
                color: $blue--dark;
            }
        }
    }
    &-checkBox {
        padding: 15px 10px;
        label {
            display: block;
            margin: 5px 0;
            cursor: pointer;
            font-size: 1rem;
        }
        label > input[type="radio"] {
            display: none;
        }
        input[type="radio"] + span:before {
            content: "\f096";
            display: inline-block;
            margin-right: 5px;
            font-family: "FontAwesome";
            font-weight: normal;
            width: 1em;
        }
        /**--- Checked ---**/
        input[type="radio"]:checked + span:before {
            content: "\f14a";
            color: $blue--dark;
            animation: pop 180ms ease-in;
        }
        /**--- Disabled ---**/
        input[type="radio"]:disabled + span {
            color: $gray--80op;
        }
        input[type="radio"]:disabled + span:before {
            content: "\f0c8";
            color: $gray--80op;
        }
        /**--- Animation ---**/
        @keyframes pop {
            0% {
                transform: scale(0);
            }
            90% {
                transform: scale(1.4);
            }
            100% {
                transform: scale(1);
            }
        }
    }
    &-message {
        text-align: center;
    }
}