input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
    width: 100%;
    padding: 7px 10px 8px;
    border-radius: 0;
    -webkit-appearance: none;
    box-sizing: border-box; // redefine foundation content-box for search type
    &:focus {
        //outline-color: ;
        //border-color: ;
    }
    &::placeholder {

    }
    &.wpcf7-not-valid {

    }
}
textarea {
    resize: vertical;
    height: 150px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
    display: inline-block;
    margin: 12px 0;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 0;
    border: 1px solid $black;
    color: $black;
    transition: all .3s ease-out;
    -webkit-appearance: none;
    appearance: none;
    &:hover,
    &:active {
        cursor: pointer;
    }
}
.btn {
    border-radius: 48px;
    border: 1px solid $blue;
    box-shadow: 0 5px 20px 0 $black--20op;
    background-color: $blue;
    color: $white;
    &:hover,
    &:active {
        background-color: $white;
        color: $blue;
        text-decoration: none;
    }
}
.btn--white {
    background-color: $white;
    color: $blue;
    &:hover,
    &:active {
        background-color: $blue;
        color: $white;
    }
}
.btn--fullWidth {
    width: 100%;
}
.btn--linkedIn {
    max-width: 240px;
    height: 48px;
    padding: 0 20px;
    font-family: $font-medium;
    font-size: $fontSize-smaller;
    line-height: $lineHeight-btn--large;
    text-transform: uppercase;
}
.btn--hasIcon {
    position: relative;
    padding-left: 65px;
    .btn-icon {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        line-height: 0;
        transition: fill .3s;
    }
    .btn-icon-svgLinkedin {
        width: 18px;
        height: 19px;
        margin-top: -5px;
    }
}
