.hamburger {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: $white--60op;
    @include breakpoint(medium) {
        margin-left: 0;
    }
    @include breakpoint(large) {
        display: none;
    }
    span,
    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 18px;
        height: 2px;
        background-color: $black--lighter;
        transition: background-color .3s;
        transform: translateX(-50%) translateY(-50%);
    }
    &::before,
    &::after {
        content: "";
    }
    &::before {
        margin-top: -5px;
    }
    &::after {
        margin-top: 5px;
    }
    &:hover,
    &:active {
        span,
        &::before,
        &::after {
            background-color: $blue;
        }
    }
}
:not(.home) {
    .hamburger {
        @include breakpoint(small only) {
            width: 42px;
            height: 42px;
            background-color: transparent;
        }
    }
}
