.page-template-template-page-notifyme {
	background: $white;
	.mainNavigation {
		display: none;
	}
	.mainHeader-social {
		display: none;
	}
	.mainHeader.is-not-top {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.footer-sidebar,
	.footer-social,
	.footer-credentials,
	.footer-menu {
		display: none;
	}
	.mainHeader,
	.footer {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			z-index: 100;
		}
	}
	.footer {
		position: relative;
	}
}
