.linkTooltip {
	display: none;
	position: absolute;
	right: -35px;
	top: 50%;
	transform: translateY(-50%);
	@include breakpoint(medium) {
		display: block;
	}
	&.is-active {
		.infoIcon {
			opacity: 1;
		}
		.linkTooltip-item {
			opacity: 1;
		}
	}
}
.linkTooltip-item {
	position: absolute;
	top: 100%;
	right: 50%;
	width: 290px;
	padding: 25px 32px;
	margin: 0 auto;
	text-align: left;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 6px 30px 0 rgba(140,160,179,.4);
	transform: translateX(50%) translateY(10px);
	opacity: 0;
	transition: opacity .3s;
	@include breakpoint(large) {
		top: 50%;
		right: -30px;
		transform: translateX(100%) translateY(-50%);
	}
	&::before {
		position: absolute;
		top: -20px;
		left: 50%;
		width: 10px;
		height: 20px;
		margin-left: -10px;
		content: "";
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent $white transparent;
		@include breakpoint(large) {
			top: 50%;
			left: -10px;
			margin-top: -10px;
			margin-left: 0;
			border-width: 10px 10px 10px 0;
			border-color: transparent $white transparent transparent;
		}
	}
}
.linkTooltip-item p {
	margin-top: 0;
	margin-bottom: 0;
}
.linkTooltip-item-title {
	text-transform: uppercase;
	color: $blue;
	margin-top: 0;
	margin-bottom: 10px;
}
