.loginPopup {
	position: relative;
	max-width: 360px;
	margin: 0 auto;
	padding: 35px 15px 0;
	background-color: $white;
	border-radius: 4px;
	text-align: center;
}
.loginWrap {
	&.mfp-bg {
		background: $stone--60op;
	}
}
.loginPopup-deco {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 6px;
	border-radius: 4px 4px 0 0;
	overflow: hidden;
	&:before {
		content: "";
		width: 50%;
		height: 6px;
		float: left;
		background: linear-gradient(to right, #09acf8 0%,#09acf8 50%,#50d2c2 50%,#50d2c2 100%);
	}
	&:after {
		content: "";
		width: 50%;
		height: 6px;
		float: left;
		background: linear-gradient(to right, #ff9800 0%,#ff9800 50%,#ed5564 50%,#ed5564 100%);
	}
}
.loginPopup-title {
	margin-bottom: 25px;
	font-size: 16px;
	font-family: $font-light;
	font-weight: 100;
	color: $loginText;
	strong {
		display: block;
		margin-bottom: 10px;
		font-size: 30px;
		line-height: 1;
		font-family: $font-medium;
		color: $stone;
	}
}
.loginPopup-logo {
	display: inline-block;
	overflow: hidden;
	width: 50px;
	height: 50px;
	margin-bottom: 25px;
	img {
		width: 142px;
		height: 50px;
		max-width: initial;
	}
}
.loginPopup-socials {
	margin-bottom: 15px;
	.btn {
		margin-bottom: 15px;
	}
}
.loginPopup-bymail {
	margin-bottom: 25px;
	font-size: 16px;
	color: $loginText;
	a {
		transition: color .3s;
		color: $loginLink;
		&:hover {
			text-decoration: none;
			color: $red;
		}
	}
}
.loginPopup-terms {
	position: relative;
	padding: 15px;
	margin: 0 -15px;
	font-size: 14px;
	line-height: 18px;
	color: $loginTerms;
	background: $white--darkMore;
	overflow: hidden;
	border-radius: 0 0 4px 4px;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 4px;
		background: linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%);
	}
}
.loginPopup-menu {
	div {
		display: inline-block;
	}
	ul {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			display: inline-block;
			a {
				transition: color .3s;
				color: $loginLink;
				&:hover {
					text-decoration: none;
					color: $red;
				}
			}
		}
	}
}
