.membersList {
	margin: 70px 0 10px;
	text-align: center;
	@include breakpoint(large) {
		margin-bottom: 30px;
	}
}
.membersList-item {
	position: relative;
	margin-bottom: 45px;
	@include breakpoint(medium) {
		width: 48%;
		display: inline-block;
		padding-bottom: 35px;
		margin-bottom: 40px;
		vertical-align: top;
	}
	@include breakpoint(large) {
		float: left;
		width: 25%;
	}
}
.membersList-item-inner {
	padding: 0 40px;
}
.membersList-item-inner-image {
	max-width: 150px;
	height: 150px;
	margin: 0 auto 20px;
	border-radius: 100%;
	overflow: hidden;
}
.membersList-item-inner-title {
	margin-bottom: 5px;
	font-size: $fontSize-teamTitle--medium;
	line-height: $lineHeight-tighter;
	color: $blue--darkest;
	text-transform: uppercase;
	@include breakpoint(medium) {
		margin-bottom: 15px;
		font-size: $fontSize-teamTitle--large;
	}
}
.membersList-item-inner-content {
	margin-bottom: 20px;
	font-size: $fontSize-small;
	line-height: $lineHeight-tight;
	font-family: $font-light;
	color: $blueSea;
}
.membersList-item-inner-contacts {
	width: 100%;
	@include breakpoint(large) {
		position: absolute;
		bottom: 0;
		left: 0;
	}
	li {
		display: inline-block;
		margin: 0 15px;
		a,
		span {
			display: block;
			line-height: 0;
			transition: color .3s;
		}
		a{
			&.contactsIco-linkedIn {
				color: $blue--dark;
			}
			&.contactsIco-twitterIco {
				color: $blue;
			}
			&:hover {
				color: $blue--darkest;
			}
		}
		span {
			&.contactsIco-linkedIn,
			&.contactsIco-twitterIco {
				color: $gray--lighter;
			}
		}
	}
}
