.notFoundContainer {
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 70px;
	text-align: center;
	color: $stone;
	@include breakpoint(medium) {
		float: right;
		max-width: 340px;
		padding-left: 0;
		padding-right: 0;
		margin-top: 0;
		margin-right: 70px;
		text-align: left;
	}
	h1 {
		margin-bottom: 20px;
		font-size: $fontSize-notFound--small;
		color: $blue--20op;
		@include breakpoint(medium) {
			margin-bottom: 30px;
			font-size: $fontSize-notFound--medium;
		}
		@include breakpoint(large) {
			margin-bottom: 40px;
			font-size: $fontSize-notFound--large;
		}
	}
}
.notFoundContainer-mainText {
	margin-bottom: 10px;
	font-size: $fontSize-norFoundContent--small;
	line-height: $lineHeight-stightest;
	@include breakpoint(medium) {
		margin-bottom: 20px;
		font-size: $fontSize-norFoundContent--medium;
	}
	@include breakpoint(large) {
		font-size: $fontSize-norFoundContent--large;
	}
}
p.notFoundContainer-redirectText {
	margin-bottom: 70px;
	font-size: $fontSize-small;
	line-height: $lineHeight-tighter;
	@include breakpoint(medium) {
		margin-bottom: 80px;
		font-size: $fontSize-base;
	}
	@include breakpoint(large) {
		margin-bottom: 90px;
	}
	a {
		color: $blue;
		transition: color .3s;
		&:hover {
			color: $blue--darkest;
			text-decoration: none;
		}
	}
}
