.testimonials-item {
	position: relative;
	outline: none;
	padding-bottom: 1px; //small fix for IE
	color: $gray--80op;
	@include breakpoint(medium) {
		padding: 0 23px 1px;
	}
}
a.testimonials-item {
	text-decoration: none;
	&:hover {
		.testimonials-item-inner {
			border-color: $blue;
		}
	}
}
.testimonials-item-inner {
	display: table;
	width: 100%;
	height: 100%;
	padding: 100px 30px 30px;
	border: 1px solid $borderSlider;
	border-radius: 2px;
	transition: border .3s;
}
.testimonials-item-innerAlignment {
	display: table-cell;
	vertical-align: middle;
}
.testimonials-excerpt {
	font-size: $fontSize-small;
	line-height: $lineHeight-base;
}
.testimonials-authorInfo {
	position: absolute;
	top: 40px;
	left: 30px;
	right: 30px;
	padding-left: 80px;
	line-height: $lineHeight-tightest;
	@include breakpoint(medium) {
		left: 53px;
		right: 53px;
	}
}
.testimonials-image {
	position: absolute;
	top: 50%;
	left: 0;
	width: 66px;
	height: 66px;
	overflow: hidden;
	border-radius: 100%;
	transform: translateY(-50%);
	img {
		width: auto;
		max-width: none;
		height: 66px;
	}
}
.testimonials-client {
	font-family: $font-medium;
	color: $stone;
}
.testimonials-job {
	color: $gray;
}
.testimonials-client,
.testimonials-job {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.testimonialsList {
	max-width: 770px;
	margin: 0 auto;
	@include breakpoint(medium) {
		padding-top: 15px;
	}
	@include breakpoint(large) {
		padding-top: 30px;
	}
	.testimonials-item {
		margin-bottom: 20px;
		padding: 0;
		color: $stone;
	}
	.testimonials-item-inner {
		padding-top: 30px;
	}
	.testimonials-authorInfo {
		position: relative;
		top: auto;
		right: auto;
		left: auto;
	}
	.testimonials-excerpt {
		margin-bottom: 30px;
	}
	.testimonials-job {
		color: $blueSea;
	}
	.testimonialsPagination {
		margin-top: 30px;
		@include breakpoint(medium) {
			margin-top: 50px;
		}
		@include breakpoint(large) {
			margin-top: 80px;
		}
	}
	.is-selected {
		box-shadow: 0 0 5px 0 $black--light30op;
	}
}
.testimonialsSlider {
	margin-bottom: 40px;
}
